/*
-----
Fonts
-----
*/

@font-face {
  font-family: MarioFont;
  src: url('./font/MARIO_Font_v3_Solid.otf');
}

/*
---------
Keyframes
---------
*/

@keyframes cloud-scroll {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -38em 0;
  }
}

@keyframes showUI {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
    pointer-events: all;
  }
}

@keyframes hideUI {
  0% {
    opacity: 100%;
  }

  100% {
    opacity: 0;
    pointer-events: none;
  }
}

/*
----------
Main Stuff
----------
*/

@property --button-gradient-top {
  initial-value: #009646;
  syntax: '<color>';
  inherits: false;
}

@property --button-gradient-bottom {
  initial-value: #f0ff32;
  syntax: '<color>';
  inherits: false;
}

:root {
  --logo-width: clamp(10rem, 75%, 40rem);
  --text-outine: -0.0875em -0.0875em black, 0 -0.0875em black, 0.0875em -0.0875em black, 0.0875em 0 black,
  0.0875em 0.0875em black, 0 0.0875em black, -0.0875em 0.0875em black, -0.0875em 0 black;
}

body {
  position: relative;
  font-family: Outfit, sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  color: #ffffff;
  margin: 0;
  border: none;
  padding: 0;
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-element {
  position: absolute;
  height: 100%;
  width: 100%;
}

.background-container, #cloudy-header {
  font-size: 1rem;
}

#underground {
  background-position-x: center;
  background-position-y: max(180em, calc(100vh + 85.125em));
  background-size: 120em auto;
}

#transition {
  background-position-x: center;
  background-position-y: max(182.375em, calc(100vh + 84.875em));
  background-repeat: repeat-x;
  background-size: 120em auto;
}

#overground {
  background-position-x: center;
  background-position-y: max(97.125em, calc(100vh - 0.25em));
  background-repeat: repeat-x;
  background-size: 120em auto;
}

#sky {
  background-repeat: repeat-x;
  background-size: 0.25em max(97.125em, 100vh);
}

#clouds {
  animation: cloud-scroll 50s linear infinite;
  background-repeat: repeat-x;
  background-size: 38em;
}

#cloudy-header {
  animation: cloud-scroll 12.5s linear infinite;
  height: 12.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-size: 38em;
  background-repeat: repeat-x;
  justify-content: space-between;
}

.button-group {
  width: clamp(8em, 12em, 100%);
  margin: 0 1em;
}

.button {
  font-family: inherit;
  color: #ffffff;
  text-shadow: var(--text-outine);
  font-size: 1.125em;
  border-radius: 0.375em;
  border: 2px solid #ffffff;
  outline: 2px solid #000000;
  background: linear-gradient(var(--button-gradient-top), var(--button-gradient-bottom));
  height: 3em;
  transition-property: --button-gradient-top, --button-gradient-bottom, transform;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
  text-align: center;
  width: 100%;
  margin: 0.75em 0;

  &:hover {
    --button-gradient-top: #8cdc5a;
    --button-gradient-bottom: #fffa80;
    cursor: pointer;
    transform: scale(1.02);
  }

  &:active {
    --button-gradient-top: #c6ee55;
    --button-gradient-bottom: #fffd68;
    transform: scale(0.98);
  }
}

footer {
  text-shadow: var(--text-outine);
  font-family: Outfit, sans-serif;
  text-align: center;
  paint-order: stroke fill;
  padding-bottom: 0.5em;
}

#title {
  display: grid;
  justify-items: center;
}

#mna-logo {
  width: var(--logo-width);
}

#main-page {
  margin-top: clamp(
      calc((var(--logo-width) / 3900 * 1545) - 2.25em),
      calc(100vh - 10em - (var(--logo-width) / 3900 * 1545)),
      100vh
  );
  justify-items: center;
  display: grid;
  position: relative;
}

.frame {
  border-style: solid;
  border-radius: 1.25em;
  border-width: 64px 15px 15px 15px;
  -moz-border-image: url(./img/frame/frame.png) 64 15 15 15 round round;
  -webkit-border-image: url(./img/frame/frame.png) 64 15 15 15 round round;
  -o-border-image: url(./img/frame/frame.png) 64 15 15 15 round round;
  border-image: url(./img/frame/frame.png) 64 15 15 15 round round;
  width: calc(min(95%, 64rem) - 3.75em);
  margin-bottom: 5%;
  transform-style: preserve-3d;
  pointer-events: none;
}

.frame * {
  pointer-events: all;
}

.header {
  font-family: MarioFont, sans-serif;
  -webkit-text-stroke: 0.1875em black;
  paint-order: stroke fill;
  text-align: center;
  left: 50%;
  translate: -50% -1.625em;
  font-size: 1.75em;
  background-repeat: repeat-x;
  position: absolute;
  width: 100%;
}

.content {
  margin: -0.375em;
  background-image: url('../mna/img/frame/base.svg');
  background-size: 100% 100%;
  position: relative;
  transform: translateZ(-1px);
}

.base {
  text-align: center;
  text-shadow: var(--text-outine);
  font-size: 1.125em;
  padding: 3em 1em;
  background-image: url('../mna/img/frame/stripe.svg');
  display: flex;
  flex-direction: column;
  align-items: center;
  text-wrap: pretty;
}

#download-link {
  display: grid;
  justify-items: center;
  width: min(100%, 32em);
}

#demo-download {
  width: min(40em, 100%);
}

#grid {
  display: grid;
  margin: 4% 5%;
  grid-template-columns: 50% 50%;
  border: 0.25em solid #fff8;
  border-top: 0.25em solid #0002;
  border-left: 0.25em solid #0002;
  line-height: 0;
  background-image: url('../mna/img/frame/base180.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.grid-item {
  margin: 0.25em;
  font-size: 1em;
  text-align: center;
  background-color: #ffffff;
}

.image {
  width: 100%;
  transition: opacity 150ms ease-in-out;

  &:hover {
    opacity: 50%;
  }
}

.video {
  width: clamp(6.25em, 90%, 40em);
  aspect-ratio: 16 / 9;
  border: 0.25em solid #fff8;
  border-top: 0.25em solid #0002;
  border-left: 0.25em solid #0002;
}

#download-outline,
#download-red,
#download-yellow,
#download-green,
#download-blue {
  fill-rule: evenodd;
  transition: fill 150ms ease-in-out;
}

#download-red {
  fill: #f73727;
}

#download-yellow {
  fill: #ffd521;
}

#download-green {
  fill: #3be305;
}

#download-blue {
  fill: #29adff;
}

#demo-download:hover {
  #download-red {
    fill: #3be305;
  }

  #download-yellow {
    fill: #29adff;
  }

  #download-green {
    fill: #f73727;
  }

  #download-blue {
    fill: #ffd521;
  }
}

.hidden * {
  pointer-events: none;
}

/*
-------------
Media Queries
-------------
*/

@media only screen and (max-width: 40em) {
  .header {
    font-size: 1.75em;
    translate: -50% -1.875em;
  }

  .content h3 {
    font-size: 1.125em;
  }

  body {
    font-size: 1rem;
  }

  #grid {
    margin: 4% 0;
  }

  .base {
    padding: 2rem 1rem;
  }
}

@media only screen and (max-width: 30em) {
  .header {
    font-size: 1.5em;
    translate: -50% -2em;
  }

  .content h3 {
    font-size: 0.75em;
  }

  .button {
    font-size: 0.625em;
  }

  .button-group {
    margin: 0.25em 0.5em;
  }

  .button {
    margin: 0.25em 0;
  }
}
